/* .Container{
  height:2003px;
  width:1440;
  /* justify-content: center; */
  /* display: flex; */
  /* border:2px solid red; */
  /* margin :auto;  */
/* } */ 
/* .main {
  border: 2px solid green;
  height: 118px;
  width: 563px;
  /* display: flex; */
  /* justify-content: center; */
/* } */

/* .navbar {
  border: 2px solid blue;
  height: 100%; 
  width: 100%; 
  display: flex;
  justify-content: center;

}  */


/* .container-fluid{
  height:2003px;
  justify-content: center;
  display: flex;
  border:2px solid red;
} */

